<li><a href="/404" class="google"></a></li>
<li><a href="https://twitter.com/404kidsorg" class="twitter"></a></li>
<li><a href="https://www.facebook.com/pages/404Kids/164500173753726" class="facebook"></a></li>
<li><a href="https://github.com/theverything/four04kids" class="github"></a></li>