<%= render "nav_header" %>
<div class="row" id="main">
  <div class="large-12 columns main">
    <p>Below is the JavaScript necessary for incorporating missing child listings onto your website’s 404 pages; a simple gesture that aligns your organization with thousands of families and individuals already committed to broader publicity and hope for missing children.</p>

    <pre class="embed-code"><%= "<script id='404kids-script' src=\"https://s3.amazonaws.com/404kids/src/embed.js\" type=\"text/javascript\"></script>" %></pre>

    <br>
    <p><a href="https://github.com/theverything/four04kids">Visit us on Github</a> for API and widget documentation</p>

    <p>404Kids is devoted to maintaining an open-source, secure vehicle for bringing your pages onboard, and for assistance or questions of any kind, please contact <a href="mailto:404kids@gmail.com">404kids</a>.</p>
  </div>
</div>
