<%= render "nav_header" %>
<div class="row" id="main">
  <div class="large-12 columns main">
    <p>If you feel compelled to aid in the search for missing and exploited children, please join our partnership of awareness by adding the 404Kids widget to your website’s 404 pages. The reach of the 404Kids apparatus is entirely dependent on the compassion of those who choose to prioritize missing children as a part of their business and personal identities.</p>

    <p>404Kids also accepts financial and service-based donations.</p>
  </div>
</div>
