<div class="description">
  <p>404Kids is a team of technology professionals dedicated to supporting America’s search for missing and exploited children. Through the previously underutilized space of 404 (not found) pages, 404Kids intends to elevate the visibility, and awareness of, missing children.</p>

  <script id='404kids-script' src="https://s3.amazonaws.com/404kids/src/embed.js" type="text/javascript"></script>

  <p>We are a resource for families, law enforcement, and the victimized youth with whom Americans unknowingly coexist. 404Kids is possible through users and businesses who consciously channel the power of pages they never intended to use.</p>
</div>
