<%= render "nav_header" %>
<div class="row" id="main">
  <div class="large-12 columns main">
    <p>“There can be no keener revelation of a society’s soul than the way in which it treats its children” -Nelson Mandela</p>

    <p>The success of the 404Kids network is contingent upon the participation and contribution of likeminded people and organizations across the Internet. In solidarity with this community’s commitment to helping missing and exploited children, 404Kids celebrates stories of recovery the nation over.</p>
  </div>
</div>
