// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  position: relative;
  float: left;
}

.kid_image {
  float: left;
  width: 160px;
  height: 160px;
}
body {
  background-color: #333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
             sans-serif;
  font-weight: 100;
}

img {
  border: 0;
  margin: 0;
  float: left;
}

.bw {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
    -webkit-filter: grayscale(100%);
    &:hover {
      -webkit-filter: none;
    }
}

.popup {
  position: absolute;
  .content {
    width: 150px;
    height: 150px;
    background-color: #ff6d00;
    z-index: 999;
    padding: 20px;
    color: white;
    overflow: hidden;
    .name {
      font-size: 14px;
      line-height: 14px;
      font-weight: 700;
    }
  }
}

.home-images {
}

.orange-block {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: Orange;
  margin: 0;
  float: left;
  position: relative;
}

.logo {
  font-size: 2em;
  text-align: center;
  span {
    position: relative;
    top: 60px;
  }
}

@mixin orange_callout {
  font-family: "Helvetica Neue";
  background-color: #ff6d00;
  color: #fff;
}

@mixin name_callout {
  @include orange_callout;
  font-size: 24px;
  width: 160px;
  height: 160px;
  p {
    padding-left: 24px;
    padding-top: 40px;
    line-height: 24px;
  }
}

.name_box {
  position: absolute;
  right: 0px;
  @include name_callout;
}

@mixin standard_info {
  font-family: "Helvetic Neue";
  font-size: 16px;
  color: #333;
  background-color: #e6e6e6;
}

@mixin info_box {
  @include standard_info;
  position: absolute;
  top: 160px;
  width: 320px;
  height: 160px;
  p {
    float: left;
    width: 160px;
  }
}

.info_box {
  background-color: #e6e6e6;
  @include info_box;
}

.block {
  width: 150px;
  height: 150px;
  background-size: 150px;
  background-position: 0 -10px;
  float: left;
  &.first-block {
    background-image: image-url('addicon.jpg');
    background-position: 0;
  } &.last-block {
    background-image: image-url('logo.png');
    background-position: 0;
  }
}

.titlebar {
  h2 {
    margin: 0px;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    input {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
             sans-serif;
      color: #ff6d00;
      font-weight: 500;
      font-size: 37px;
      border: none;
      background: none;
      text-transform: uppercase;
      font-weight: 100;
      outline: 0;
      border-bottom: 1px solid #ff6d00;
      &:focus {
        box-shadow: none;
      }
    }
  }
}

.news-row {
  background-color: #ccc;
  padding: 10px 0px;
  .newsfeed {
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    span {
      position: relative;
      left: 0px;
    }
  }
}

footer {
  border-bottom: 3px solid #ff6d00;
  position: relative;
  ul.footer-nav {
    list-style: none;
    height: 100%;
    padding: 0;
    li {
      float: left;
      padding: 4px 45px;
      margin: 0 20px;
      height: 100%;
      &.active {
        background-color: #ff6d00;
      }
      a {
        color: white;
        font-weight: 100;
        text-transform: uppercase;
      }
    }
  }
  ul.social {
    list-style: none;
    position: absolute;
    right: 10px;
    top: 0;
    li {
      width: 30px;
      height: 30px;
      float: left;
      margin: 0 5px;
      a {
        height: 30px;
        width: 30px;
        display: block;
        background-size: 30px;
        &.facebook{
          background-image: image-url('facebookgray.png');
          &:hover {
            background-image: image-url('facebookorange.png');
          }
        } &.google{
          background-image: image-url('googlegray.png');
          &:hover {
            background-image: image-url('googleorange.png');
          }
        } &.twitter{
          background-image: image-url('twittergray.png');
          &:hover {
            background-image: image-url('twitterorange.png');
          }
        }
      }
    }
  }
}

.main {
  background-color: #ccc;
  .description {
    padding: 50px 300px;
    font-size: 24px;
  }
}

.add-widget {
  display: block;
  margin: 0px auto;
  padding: 14px 45px;
  text-align: center;
  background-color: #ff6d00;
  color: white;
  font-weight: 500;
  width: 300px;
  border: 1px solid #333;
  &:hover {
    color: #ccc
  }
}
