// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: gray;
}

img {
  border: 0;
  margin: 0;
  float: left;
}

.bw {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
    -webkit-filter: grayscale(100%);
    &:hover {
      -webkit-filter: none;
    }
}

.popup {
    position: absolute;
}

.content {
    width: 300px;
    height: 300px;
    background-color: Orange;
    z-index: 999;
    padding: 20px;
}

.home-images {
}

.orange-block {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: Orange;
  margin: 0;
  float: left;
}

.logo {
  line-height: 300px;
  font-size: 2em;
  text-align: center;
}

footer {
  height: 100px;
  line-height: 100px;
  background-color: LightGray;
  padding: 0 20px;
}

@mixin orange_callout {
  font-family: "Helvetica Neue";
  background-color: #ff6d00;
  color: #fff;
}

@mixin name_callout {
  @include orange_callout;
  font-size: 24px;
  width: 160px;
  height: 160px;
  p {
    padding-left: 24px;
    padding-top: 40px;
    line-height: 24px;
  }
}

.name_box {
  @include name_callout;
}

